azure-architecture.pdf filter=lfs diff=lfs merge=lfs -text
eps-editor/scribus-1.4.8-windows.exe filter=lfs diff=lfs merge=lfs -text
eps-editor/gimp-2.10.34-setup-2.exe filter=lfs diff=lfs merge=lfs -text
programming[[:space:]]language/learning-threejs-programming.pdf filter=lfs diff=lfs merge=lfs -text
